@using Microsoft.AspNet.Identity
@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Todo Management Application</h1>
  @if (User.IsInRole("user"))
  {
    <h2>Welcome User</h2>
  }
  @if (User.IsInRole("manager"))
  {
    <h2>Welcome Manager</h2>
  }
  @if (Request.IsAuthenticated)
  {
    <p>Username: @User.Identity.GetUserName()</p>
  }

  <p class="lead">An application built with ASP.NET MVC5</p>
</div>

@if (User.IsInRole("admin"))
{
<div class="form-group">
  @Html.ActionLink(
    "Create new Manager",
    "CreateManager",
    "Account",
    null,
    new { @class = "btn btn-primary" }
  )
  @Html.ActionLink(
    "Show all Managers",
    "GetManagers",
    "Admin",
    null,
    new { @class = "btn btn-success" }
    )
</div>
}


