@model IEnumerable<GCD0804TodoManagement.Models.ApplicationUser>
@{
  ViewBag.Title = "GetManagers";
}

<h2>Show all Managers</h2>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item active">Managers List</li>
      @foreach (var manager in Model)
      {
        <li class="list-group-item">
          @manager.UserName
          <div>
            @Html.ActionLink(
              "Reset Manager Password",
              "ResetManagerPassword",
              "Account",
              new {id = manager.Id},
              new {@class = "text-info"}
            )
          </div>
        </li>
      }
    </ul>
  </div>
</div>

