@model IEnumerable<GCD0804TodoManagement.Models.Team>
@{
  ViewBag.Title = "Index";
}

<h2>Team Index</h2>
<div class="row">

  @foreach (var team in Model)
  {
    <div class="col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Team Name: @team.Name</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            @Html.ActionLink(
              "See Team Members",
              "Details",
              "Teams",
              new { id = team.Id },
              new { @class = "btn btn-info" }
            )
            @Html.ActionLink(
              "Add User To Team",
              "AddMember",
              "Teams",
              new { id = team.Id },
              new { @class = "btn btn-success" }
            )
          </div>
        </div>
      </div>
    </div>
  }
</div>
