# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# C# or VB files
[*.{cs,vb,cshtml}]
guidelines = 95

[*.{cs,vb,cshtml}]
# ARGB color format (red with 25% opacity)
guidelines_style = 2.5px solid 40ff0000
