@model GCD0804TodoManagement.Models.Todo
@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-group">
	@Html.ActionLink("Back to Todoes", // <-- Link text
								 "Index", // <-- Action Method Name
								 "Todoes", // <-- Controller Name
								 null, // <-- Route value
								 new { @class = "btn btn-primary" } // <-- htmlArguments
								 )
</div>
<div class="panel panel-primary">
	<div class="panel-heading">Todo Description: @Model.Description </div>
	<div class="panel-body">
		<p>Category: @Model.Category </p>
		<p>Due Date: @Model.DueDate</p>
	</div>
</div>

