
@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<a href="#" class="btn btn-primary">Back to Todoes</a>

<div class="panel panel-primary">
	<div class="panel-heading">Todo Description: </div>
	<div class="panel-body">
		<p>Category: </p>
		<p>Due Date: </p>
	</div>
</div>

