@model IEnumerable<GCD0804TodoManagement.Models.Todo>
@{
	ViewBag.Title = "Index";
}

<h2>Index of TodoesController</h2>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Description</th>
			<th scope="col">Category</th>
			<th scope="col">Due Date</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var todo in Model)
		{
			<tr>
				<th scope="row">@todo.Id</th>
				<td>@todo.Description</td>
				<td>@todo.Category</td>
				<td>@todo.DueDate</td>
				<td>
					<a href="#" class="btn btn-info">Details</a>
					<a href="#" class="btn btn-default">Edit</a>
					<a href="#" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>