@model GCD0804TodoManagement.Models.Todo
@{
	ViewBag.Title = "Index";
}

<h2>Index of TodoesController</h2>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Description</th>
			<th scope="col">Category</th>
			<th scope="col">Due Date</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">@Model.Id</th>
			<td>@Model.Description</td>
			<td>@Model.Category</td>
			<td>@Model.DueDate</td>
			<td>
				<a href="#" class="btn btn-info">Details</a>
				<a href="#" class="btn btn-default">Edit</a>
				<a href="#" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>